{% extends 'home.html' %}
{% block content %}
<section class="section contact" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Teachers Register Here</h2>
                </div>
            </div>
            <!-- <div class="col-md-6"> -->

                <!-- Do you need a working HTML contact-form script?
                
                Please visit https://templatemo.com/contact page -->

                <form id="contact" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" style="align-items: center;">
                        {{user_form}}{{profile_form}}
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="button">Register</button>
                            </fieldset>
                            {% if msg %}
                            <h2 style="color: white;"></h2>{{msg}}{% endif %}
                        </div>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
</section>

{% endblock %}